@model Peak.Models.SopOrderMethodReference

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SopOrderMethodReference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateScsUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateScsUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTimeStampUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTimeStampUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateScsSqlUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateScsSqlUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateScsUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateScsUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTimeStampUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTimeStampUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateScsSqlUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateScsSqlUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderMethodCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderMethodCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderMethodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderMethodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSelectable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSelectable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SopSalesChannelReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SopSalesChannelReference.SopSalesChannelReferenceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SopOrderMethodReferenceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
